// Basic Setting
$img_path: '@/assets/images/';
$font: 'Noto Sans', 'Noto Sans CJK JP', 'NotoSansCJKjp-Regular', sans-serif;
// Main color
$color_primary: #0D97FF;
$color_secondary: #2AD1FF;
$color_secondary_1: #00BD71;
// break point
$break_point: 640px;

